<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>590526132435-4qmgm05a2hch7npg0sen7ooj9p5s8542.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.590526132435-4qmgm05a2hch7npg0sen7ooj9p5s8542</string>
	<key>API_KEY</key>
	<string>AIzaSyASviPNvrqow005LL05kuHplV2Gdsztmi4</string>
	<key>GCM_SENDER_ID</key>
	<string>590526132435</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pillwise</string>
	<key>PROJECT_ID</key>
	<string>todo-test-abe4a</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-test-abe4a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:590526132435:ios:e090961c55f7e93086a426</string>
</dict>
</plist>